.Map {
  width: 100vw;
  height: 95vh;
}

.ChangeDataButton {
  display: block;
  height: 5vh;
  width: 100vw;
}

.Title {
  display: inline-block;
  font-weight: bold;
  width: 100%;
}

.Input {
  display: inline-block;
  width: 100%;
}

.InputLeft {
  width: 30%;
  float: left;
  text-align: right;
}

.InputRight {
  width: 65%;
  float: right;
  text-align: left;
}